body {
  margin: 0;
  padding: 0;
}

.app-components {
  width: 80%;
  margin: auto;
  padding: 16px;
  max-width: 1000px;

  &.ant-layout {
    background-color: transparent;
  }
}

.login-screen {
  margin: auto;
  display: flex;
  min-width: 100px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}
