.admin-components {
  &.ant-layout {
    min-height: 100vh;
  }

  .admin-logo {
    margin: 11px 16px 12px;
    background: rgba(255,255,255,.2);

    a {
      padding: 10px;
      display: block;
      color: $white;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .ant-layout-header {
    padding: 0 20px;
  }

  .ant-layout-content {
    padding: 32px;
  }
}
